/******MODIFICHE GENERALI*****/

@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: "chillax";
    src: 
        url("../font/Chillax-Bold.otf") format("opentype"),
        url("../font/Chillax-Extralight.otf") format("opentype"),
        url("../font/Chillax-Light.otf") format("opentype"),
        url("../font/Chillax-Variable.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "panchang";
    src: 
        local("panchang"),
        url("../font/Panchang-Bold.otf") format("opentype"),
        url("../font/Panchang-Extrabold.otf") format("opentype"),
        url("../font/Panchang-Regular.otf") format("opentype"),
        url("../font/Panchang-Variable.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}


*{
    box-sizing: border-box;
}

:root{
    --gg-bg-color: rgb(4, 2, 34);
    --gg-txt-color: #f1f1e6;
    --gg-ice-color: #c8f1f9;
    --gg-deepblue-color: #011fe1;
}

body{
    background-color: var(--gg-bg-color);
    font-family: chillax, panchang, sans-serif;
    margin: 0 100px 0 100px;
}

a{
    text-decoration: none;
}


p {
    font-family: chillax;
    font-weight: 100;
    font-size: 24px;
    color: var(--gg-txt-color);
    text-align: left;
}

h1{
    font-family: panchang;
    font-weight: bold;
    font-size: 84px;
    color: var(--gg-ice-color);
    filter: drop-shadow(0px 0px 50px var(--gg-deepblue-color));
    text-align: center;
}

h2{
    font-family: panchang;
    font-weight: normal;
    font-size: 48px;
    color: var(--gg-ice-color);
}

h3 {
    font-family: panchang;
    font-weight: 600;
    font-size: 36px;
    color: var(--gg-ice-color);
}
/******FINE MODIFICHE GENERALI*****/

/******header*****/
.header{
    margin-top: 150px;
}


/******filtro mappa*****/
.filter-opt{
    margin-top: 50px;
    padding-left: 25px;
    

}

.span-map {
    font-size: 28px;
    font-family: chillax;
    font-weight: 200;
    color: var(--gg-txt-color);
    margin-left: 35px;
    text-align: center;    
}

.filter-item.active {
    transform: scale(1.2);
}
/******FINE filtro mappa*****/


/******mappa*****/
.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.zona{
    fill: #040222;
    
}

.start{
    display: none;
}

.pin{
    display: none;
}

.visible-area{
    display:flex;
}

.pin-vis-area{
    display: flex;
    fill: rgba(0, 0, 0, 0);

}
.visible-icon{
    display:flex;
}

.pin-vis-icon{
    display: flex;
    fill: rgba(0, 0, 0, 0);

}

.pin-vis-icon{
    display: flex;
    fill: rgba(0, 0, 0, 0);

}

.card-pu-vis{
    display: flex;
}

.superstroke{
    stroke-width: 10;
}
/******FINE mappa*****/


/******pop up*****/
.card-pop-up {
    display: none;
    position: fixed;
    width: 1690px;
    height: 1110px;
    background-color: var(--gg-bg-color);
    border: 10px solid var(--gg-deepblue-color);
    background-color: var(--gg-bg-color);
    border-radius: 30px;
    margin-top: 590px;
    padding: 110px 135px;
    z-index: 3;
}

.popup-background {
    display: none;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(4, 2, 34, 0.5);
}

.card-title{
    font-weight: bold;
}

.col-img-card {
    width: 676px;
    height: 864px;
    gap: 50px;
    border-radius: 30px;
}

.p_map {
    font-family: chillax;
    font-weight: 200;/*problematico, chiedere*/
    font-size: 24px;
    color: var(--gg-txt-color);
    text-align: left;
    text-align: justify;
    margin-top: 30px;
}

.card-title-popup {
    width: 604px;
}

.cross {
    justify-content: end;
    width: 70px;
}

.card-pu-vis{
    display: flex;
}

.popup-display{
    display: flex;
}

.btn-primary{
    font-family: panchang;
    font-weight: 600;
    color: var(--gg-bg-color);
    font-size: 28px;
    height: 117px;
    width: 240px;
    background-color: var(--gg-ice-color);
    border-color: var(--gg-ice-color);
    border-radius: 15px;
    padding: 0;
    display: flex;
    align-items: center; 
    justify-content: center; 
}
/******FINE pop up*****/


/*****mosaico eventi e luogi singoli *****/
.margin-right{
    margin-right: 50px;
}

.card {
    border: none; 
    background: none;
    border-radius: 50px;
    margin-bottom: 50px;
}

.area-item{
    background-color: black;
    box-shadow: none;
    position: relative;
    margin-bottom: 50px !important; 
}

.card-img {
    border-radius: 50px;
    object-fit: cover;
}

.text-item{
    position: absolute;
    bottom: 0;
    height: auto;
    align-items: end;
    padding: 30px !important;
}

.area-item .overlay{
    position: absolute;
    height: 100% !important;
    border: 2px solid var(--gg-deepblue-color);
    border-radius: 50px;
    background: linear-gradient(to top, var(--gg-bg-color), rgba(0, 0, 0, 0.0));
    z-index: 0;
}

.up {
    height: 1030px;
    width: 100%;
    padding: 0%;
}

.low {
    height: 550px;
    width: 100%;
    padding: 0%;
}

.margin-left{
 margin-left: 25px !important;
}

.margin-right{
    margin-right: 25px !important;
}
/*****FINE mosaico eventi e luogi singoli *****/

/******tariffe*****/
.card-tariffs {
    height: auto;
    width: 498px;
    border: 5px solid var(--gg-deepblue-color);
    border-radius: 50px;
    padding: 0px;
    justify-content: center; 
}

.card-tariffs .row {
    margin: 0px 0px 70px 0px;
}

.padding-70 {
    padding: 0px 70px;
}

.row.icon-margin-70 {
    margin: 70px;
}
/******FINE tariffe*****/

/******wallpaper*****/

.overlay.header{
    position: absolute;
    z-index: 1;

}

.header .button{
    padding: 0px;
    display: flex;
    
}

.wallpaper{
    margin: 0px;
    width: 100%;
    height: 1180px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));
    
}

.wallpaper .overlay{
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, var(--gg-bg-color), rgba(0, 0, 0, 0.0));
    border-bottom: var(--gg-deepblue-color);
    border: 10px;
}

.wallpaper img{
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.wallpaper h1{
    position: absolute;
    bottom: 0;
    margin-left: 100px;
}

/******FINE wallpaper*****/


/******icon alert*****/
.icons-alert{
    width: 78px;
    height: 78px;
    justify-content: flex-start; /*flex*/
    display: flex; /*aggiunto*/
}
/******FINE icon alert*****/

/***bottoni pagine luoghi****/
.line {
    border-bottom: 5px solid var(--gg-deepblue-color);
    padding-bottom: 45px;
    margin: 0px;
    opacity: 1;
}

div.row.justify-content-between button{
    height: 130px;
    width: 20%;
    border-radius: 15px;
    box-shadow: inset 0px 0px 70px 0px var(--gg-deepblue-color);
}

div.row.justify-content-between button:active,
div.row.justify-content-between button:focus{
    box-shadow: inset 0px 0px 70px 0px var(--gg-ice-color);
}

#info-btn.row{
    gap: 15px;
}

button span{
    font-weight: bold;
    font-family: panchang;
    font-size: 48px;
    color: var(--gg-ice-color);
}
/***FINE bottoni pagine luoghi****/